    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3 class="page-header">Footer</h3>

      <p>&copy; Copyright YOURNAMEHERE, 2014. All Rights Reserved. Some items have different copyrights. Please contact my at email.tld for information.</p>
    </div>
  </div>
</div>
<!-- /Body Content -->

</body>
<script src="assets/jquery/js/jquery-2.1.1.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/night/js/night.js"></script>
<script type="text/javascript">

</script>
</html>